@layer reset, base, components, utilities;

@import "modern-normalize" layer(reset);
@import "node_modules/@catppuccin/palette/css/catppuccin.css" layer(base);

@layer base {
  :root {
    --text: oklch(0.09 0.03 285);
    --bg: oklch(1 0 0);
    --accent: oklch(70% 0.25 350 / 0.8);

    --background-angle: 135deg;
    --viewport-base-unit: clamp(1rem, 0.75dvb + 0.75dvi, 3rem);
  }

  html {
    color: var(--text);
    background: var(--bg);
    overflow-x: clip;
    overflow-y: clip;
    font-family: system-ui, "Segoe UI", Roboto, sans-serif;
    font-size: var(--viewport-base-unit);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 0;
  }
}

@layer components {
  .scroll-snap-container {
    block-size: 100dvb;
    overflow-y: auto;
    overflow-x: clip;
    scroll-snap-type: y mandatory;
  }

  .section-headline {
    font-size: calc(var(--viewport-base-unit) * 2);
  }

  .card {
    display: grid;
    inline-size: min(100%, 100ch);
    margin-inline: auto;
    padding: 2rem;
    justify-content: center;
    background: oklch(90% 0 275 / 0.75);
  }
}

@layer utilities {
  .panel-full-height {
    display: flow-root;
    min-block-size: 100dvb;
    padding: 2rem;
    align-content: center;
    scroll-snap-align: start;
    background: repeating-linear-gradient(
      var(--background-angle),
      var(--accent) 0px 1px,
      transparent 1px 16px
    );

    &:nth-child(even of .panel-full-height) {
      --background-angle: -135deg;
    }
  }
}
