@layer reset, base, components, utilities;

@import "modern-normalize" layer(reset);
/* @import "node_modules/@catppuccin/palette/css/catppuccin.css" layer(base); */

@layer base {
  :root {
    --bg: oklch(0.97 0.01 260);
    --bg-soft: oklch(0.94 0.01 260);
    --border: oklch(0.83 0.02 260);

    --text: oklch(0.33 0.03 260);
    --text-muted: oklch(0.48 0.03 260);

    --accent-primary: oklch(0.55 0.23 260);
    --accent-secondary: oklch(0.6 0.25 300);

    --on-accent: oklch(0.98 0.01 260);

    --success: oklch(0.65 0.2 140);
    --warning: oklch(0.75 0.18 90);
    --danger: oklch(0.55 0.22 25);

    --grid-line: oklch(0.88 0.015 260);

    --background-angle: 135deg;
    --viewport-base-unit: clamp(1rem, 0.75dvb + 0.75dvi, 3rem);
  }

  html {
    background: var(--bg);
    color: var(--text);
    overflow: clip;
    font-size: var(--viewport-base-unit);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 0;
    letter-spacing: -0.02em;
  }

  p {
    margin-block-start: 0;
  }
}

@layer components {
  .scroll-snap-container {
    block-size: 100dvb;
    overflow-y: auto;
    overflow-x: clip;
    scroll-snap-type: y mandatory;
  }

  .section-headline {
    font-size: calc(var(--viewport-base-unit) * 2);
  }

  .card {
    /* display: grid; */
    inline-size: min(100%, 100ch);
    margin-inline: auto;
    padding: 2rem;
    justify-content: center;
    background: var(--bg-soft);
    border: 1px solid var(--border);
  }

  .button {
    background: var(--accent-primary);
    color: var(--on-accent);
    border-radius: 8px;
    padding: 0.6rem 1rem;
  }
}

@layer utilities {
  .panel-full-height {
    display: flow-root;
    min-block-size: 100dvb;
    padding: 2rem;
    align-content: center;
    scroll-snap-align: start;
    background: repeating-linear-gradient(
      var(--background-angle),
      var(--accent) 0px 1px,
      transparent 1px 16px
    );

    &:nth-child(even of .panel-full-height) {
      --background-angle: -135deg;
    }
  }

  .rounded-corner {
    corner-shape: squircle;
    border-radius: 50px;
  }
}
